<div class="search-container">
    <div class="search-logo" routerLink="/">GAMEZITE</div>
    <!--<div class="search-form">
        <form class="search-form" #form="ngForm" (ngSubmit)="onSubmit(form)">
            <input type="text" name="search" class="search-input" ngModel placeholder="search your videogames">
            <button class="search-button">search</button>
        </form>
    </div>-->
    <div class="search-ing" (click)="open()">
        <img
            class="game-platform"
            src="assets/images/platforms/suche.svg"
            alt="Search Gamezite"
        />
    </div>
</div>

<!-- The Modal -->
<div [style.display]="showing ? 'block' : 'none'" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <span class="close" (click)="open()">&times;</span>
      </div>
      <div class="modal-body">
        <form class="search-form" #form="ngForm" (ngSubmit)="onSubmit(form)">
            <input type="text" name="search" class="search-input" ngModel placeholder="search your videogames">
            <button class="search-button">search</button>
        </form>
      </div>
    </div>
</div>