.details{
    display: flex;
    flex-direction: column;

    &-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        height: 100%;
        align-content: center;
    }

    &-wrapper > * {
        flex-grow: 1;
        flex-shrink: 1;
        align-items: center;
      }
}

.game{
    &-banner{
        max-height: 650px;
        overflow: hidden;
    
        &-img{
          margin-top: 60px;
          width: 100%;
          min-height: 600px;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center top;

        }

        &-overlay{
            position: absolute;
            top: 0;
            height: 100%;
            max-height: 650px;
            width: 100%;
            background: #C04848;  /* fallback for old browsers */
            background: linear-gradient(rgb(72,0,72,0.8), rgb(192,72,72,0.8));
            background: linear-gradient(rgb(72,0,72,0.8), rgb(192,72,72,0.8));
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
    
    &-content{
        background-color: rgba(0, 0, 0);
        position: relative;
        top: -4rem;
        height: 250px;
    }


    &-header {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        justify-content: center;
        min-width: 200px;

        &-title {
          font-size: 6vw;
          color: #fff;
          font-weight: 700;
          line-height: 3vw;
          white-space: nowrap;
          letter-spacing: 2px;
        }
    
        &-release-date {
          font-size: 1.5vw;
          color: #fff;
          font-weight: 300;
        }
    
        &-genres {
          color: #fff;
          font-weight: 700;
        }
      }

      &-gauge{
        display: flex;
        flex-direction: column;
        justify-self: center;

        &-label{
            display: flex;
            justify-content: center;
            top: -1rem;
            position: relative;
            color: #ffffff;
            font-size: 3vw;
            text-decoration: none;
        }
      }

}


::ng-deep ngx-gauge {
    display: flex !important;

    .reading-block{
        color: #ffffff;
        line-height: 50px;
        justify-content: center;
        transform: translateY(50px) !important;
    }

    .reading-label{
        color: #ffffff;
        transform: translateY(100px) !important;
    }
}


/*::ng-deep mwl-gauge {
    width: 150px;
    height: 150px;
    display: block;
    padding: 10px;

    .dial {
      stroke-width: 10;
    }

    .value {
      stroke-dasharray: none;
      stroke-width: 13;
    }

    .value-text {
      fill: #fff;
      font-weight: 700;
      font-size: 24px;
    }
}*/
