<div class="details">
  <div class="container-loading" *ngIf="!game">
    <div class="loader">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
      <div class="bar4"></div>
      <div class="bar5"></div>
      <div class="bar6"></div>
    </div>
  </div>
  <div class="game-banner" *ngIf="game">
    <div [ngStyle]="{'background-image': 'url(' + game?.background_image + ')'}" class="game-banner-img"></div>
    <div class="game-banner-back" (click)="goBack()">
      <img
            class="game-banner-back-icon"
            src="assets/images/platforms/back.svg"
            alt="Search Gamezite"
      />
    </div>
    <!--<img
      class="game-banner-img"
      src="{{ game?.background_image }}"
      alt="background image"
    />-->
    <!--<div class="game-banner-overlay"></div>-->
  </div>
  <div class="game-content" *ngIf="game">
    <div class="details-wrapper">
      <div class="game-header">
        <h1 class="game-header-title">{{ game?.name }}</h1>
      </div>
      <div class="game-gauge">
        <ngx-gauge
          [type]="gaugeType"
          [value]="game!.metacritic"
          [label]="gaugeLabel"
          [thresholds]="thresholdConfig"
          [max]="100"
          [backgroundColor]="colorGauge"
        >
        </ngx-gauge>
        <a
          class="game-gauge-label"
          target="_blank"
          href="{{ game?.metacritic_url }}"
          >Metacritic</a
        >
      </div>
    </div>
    <app-game-tabs [game]="game" [gameTrailers]="gameTrailer"></app-game-tabs>
  </div>
</div>