.game-content{
    background-color: #000000;
}

.game-tabs{
    display: flex;
    justify-content: space-around;

    &-box{
        width: 100%;
        padding: 2rem;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-content: center;
        border: 1px solid #f899eb;
        font-size: 1rem;
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer;
    }
}

.game-container{
    height: 100%;
    background: #000000;
    display: flex;
    flex-direction: column;

    div > * {
        color: #ffffff;
    }

    &-data {
        display: flex;
        flex-direction: row;
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    &-title{
        display: flex;
        justify-content: center;
        font-size: 1rem;
        font-weight: 600;
        text-transform: uppercase;
        align-self: center;
        width: 50%;
    }

    &-content{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 50%;
    }

    &-platforms{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    &-image{
        width: 20px;
        margin-right: 10px;
    }

    &-website{
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

.active{
    background-color: #f899eb77;
}