<div class="game-content">
    <div class="game-tabs">
        <div class="game-tabs-box" [class.active]="active" (click)="gettingInfo()">DETAILS</div>
        <div class="game-tabs-box" [class.active]="!active" (click)="gettingInfo()">TRAILERS</div>
    </div>
    <div class="game-container">
        <ng-container *ngIf="active">
            <div class="game-container-data">
                DETAILS
            </div>
        </ng-container>
        <ng-container *ngIf="!active">
            <div class="game-container-data">
                TRAILERS
            </div>
        </ng-container>
    </div>
</div>
